[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
MimeType=all/all;
Icon=document-save-all
TryExec=backintime
Actions=C_RestoreFromSnapshotSelectable;

[Desktop Action C_RestoreFromSnapshotSelectable]
Name=BackInTime
Icon=document-save-all
Exec=/path/to/restore_snapshot.sh %f
