#
#	KDE Service Menu - Back In Time Helper
#
#	servicemenus-back-in-time-helper.desktop Version 0.9.0
#	Copyright (C) 2022 Christian Hartmann <hartmann.christian@gmail.com>
#
#	SPDX-FileCopyrightText: 2022 Christian Hartmann <hartmann.christian@gmail.com>
#
#	SPDX-License-Identifier: LicenseRef-KDE-Accepted-GPL
#
#	This program is free software; you can redistribute it and/or
#	modify it under the terms of the GNU General Public License as
#	published by the Free Software Foundation; either version 3 of
#	the license or (at your option) at any later version that is
#	accepted by the membership of KDE e.V. (or its successor
#	approved by the membership of KDE e.V.), which shall act as a
#	proxy as defined in Section 14 of version 3 of the license.
#
#	This program is distributed in the hope that it will be useful,
#	but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#	GNU General Public License for more details.
#

[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
X-KDE-Submenu=Back In Time
MimeType=all/all;
Icon=document-save-all
TryExec=backintime
Actions=B_RestoreFromLastSnap;C_RestoreFromSnapshotSelectable;S_SyncThis;X_RefreshFromSnapshotsListAndActions;

[Desktop Action B_RestoreFromLastSnap]
Name=Restore from last Snapshot
Icon=document-save-all
Exec=bash -c 'target="%f" ; last_snapshot_path="$(backintime --quiet last-snapshot-path)" ; test -e "${last_snapshot_path}/backup/$target" && backintime restore "%f" "" 0 || kdialog --error "Oooops .. seems there is no backup for this"'

[Desktop Action C_RestoreFromSnapshotSelectable]
Name=Restore from Snapshot (selectable)
Icon=document-save-all
Exec=bash -c 'target="%f" ; snapshots_path="$(backintime --quiet snapshots-path)" ; ssid=$(kdialog --radiolist "Select Snapshot" $(for ssid in $(backintime --quiet snapshots-list | tail -5 | sort -r); do test -e "${snapshots_path}/$ssid/backup/$target" && echo "$ssid" "${ssid:0:4}-${ssid:4:2}-${ssid:6:2}_${ssid:9:2}:${ssid:11:2}:${ssid:13:2}" "off"; done)); test -n "$ssid" && backintime restore "$target" "" "$ssid" || kdialog --error "Oooops .. seems there is no backup for this"'

[Desktop Action S_SyncThis]
Name=Backup within last Snapshot
Icon=document-save-as-template
Exec=bash -c 'source="%f" ; test -f "$source" && target="$source" || target="${source%/*}" ; rsync --archive "$source" "$(backintime --quiet last-snapshot-path)/backup/$target" && notify-send --app-name="Back In Time Helper" --icon=document-save --expire-time=10000 "Backed up:" "$source"'
