#
#	KDE Service Menu - Back In Time Helper
#
#	servicemenus-back-in-time-helper.desktop Version 0.9.1
#	Copyright (C) 2022 Christian Hartmann <hartmann.christian@gmail.com>
#
#	SPDX-FileCopyrightText: 2022 Christian Hartmann <hartmann.christian@gmail.com>
#
#	SPDX-License-Identifier: LicenseRef-KDE-Accepted-GPL
#
#	This program is free software; you can redistribute it and/or
#	modify it under the terms of the GNU General Public License as
#	published by the Free Software Foundation; either version 3 of
#	the license or (at your option) at any later version that is
#	accepted by the membership of KDE e.V. (or its successor
#	approved by the membership of KDE e.V.), which shall act as a
#	proxy as defined in Section 14 of version 3 of the license.
#
#	This program is distributed in the hope that it will be useful,
#	but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#	GNU General Public License for more details.
#

[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
MimeType=all/all;
Icon=document-save-all
TryExec=backintime
Actions=C_RestoreFromSnapshotSelectable;

[Desktop Action C_RestoreFromSnapshotSelectable]
Name=BackInTime-Open
Icon=document-save-all
Exec=/path/to/open_snapshot.sh %f
